.router-wrapper {
  margin: 6rem auto auto auto;
  width: 30rem;
  height: 15rem;
  box-shadow: 4px 4px 40px 0 rgba(26,35,65,.12);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem
}
